<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCiKTr0VyX-D7-Px1YX1Ii5okFTmWh5YFM</string>
	<key>GCM_SENDER_ID</key>
	<string>487886804143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.digitalnebi.allhabesha</string>
	<key>PROJECT_ID</key>
	<string>hagere-663c4</string>
	<key>STORAGE_BUCKET</key>
	<string>hagere-663c4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487886804143:ios:96838593027b872ee6f05a</string>
</dict>
</plist>
